/* #carouselExampleCaptions {*/
/*width: 700px;*/
/* margin-top: 200px;
 margin-bottom: 200px;
 /*height: 200px;*/
/*margin-left: 200px;
}
.d-block{
width: auto !important;
height: 40rem;
alignment: center;
}

 */

#multi-item-example {
    margin-bottom: 200px;
    margin-top: 300px;
    margin-right: 50px;
    margin-left: 50px;

}