{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>{{ genre.name }}</title>
    <link rel="stylesheet" href="{% static 'genre_detail.css' %}?v1.2">
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}




    <div class="container" style="margin-top:250px ">
        <h1>{{ genre.name }}</h1>
        <br>
        <div class="row">
            {% for film in genre_films %}
                <div class="col-md-3" style="margin-bottom: 20px">
                    <div class="card card-flip h-100" style="border: #00CCFF; background-color: #0b0b0b">
                        <div class="card-front " style="background-color: #0b0b0b">
                            <div class="card-body">
                                <img src="{{ film.poster.url }}" alt="" style="max-width: 210px">
                            </div>
                        </div>
                        <div class="card-back" style="background-color: #0b0b0b">
                            <div class="card-body" style="background-color: #0b0b0b">
                                <h3 class="card-title"><a
                                        href="{% url 'films:detail' id=film.id %}">{{ film.title }}</a>
                                </h3>
                                <p class="card-text"><a style="color: #646464" href="{% url 'films:detail' id=film.id %}">{{ film.body|truncatechars:200 }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>




{% endblock %}
