{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <title>Watched Films</title>
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 250px">
        <div class="container">
            <h3 style="text-align: left"> Watched Films</h3>
            <hr>
            <div class="row">
                {% for seen in seen_films%}
                    <div class="card mb-3 ml-3" style="max-width: 170px; background-color: #000000">
                        <div class="row no-gutters">
                            <a href="{% url 'films:detail' id=seen.film.id %}"><img src="{{ seen.film.poster.url }}"
                                                                               class="card-img" alt="..."></a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}





